* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.contenedor-acordiones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
details {
  position: relative;
  margin-top: 30px;
  font-size: 1rem;
  border: 1px solid #c3deff;
  background: #f6faff;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
}

details:hover {
  border: 1px solid #a4a1ff;
}
details[open] {
  background-color: rgb(141, 231, 231);
}

.expand-icon,
details[open] .redus-icon {
  display: block;
}
.redus-icon,
details[open] .expand-icon {
  display: none;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  font-weight: 600;
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

details p {
  margin: 5px 15px 10px 15px;
}
