body{
    height: 100vh;
    background-color: rgb(212, 137, 46) !important;
}
.carousel{
    width: 600px;
}
.wrap{
    display: grid;
    grid-auto-columns: 250px;
    grid-auto-flow: column;
    animation: slide 15s linear infinite;
}
.wrap img{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}
@keyframes slide {
    to{
        translate: calc(-4*250px);
    }
}